.Nav {
    position: fixed;
    z-index: 5;
    width: 100%;
    font-size: 1.3rem;

    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.4rem);
    // animation-name: show-nav;
    // animation-duration: 1s;
    // animation-delay: 0.5s;
    // animation-fill-mode: forwards;
    // transform: translateY(-100%);
    padding: 0 2rem;

    // @keyframes show-nav{
    //     0% {
    //         transform: translateY(-100%);
    //     }

    //     100% {
    //         transform: translateY(0);
    //     }
    // }

    > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        list-style: none;
        
        > li {
            a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 10px 25px;
                cursor: pointer;
                text-decoration: none;
                color: #fff;

                &:hover,
                &.active {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }

            > .OurServiceSubmenu {
                display: none;
                background-color: rgba(0, 0, 0, 0.9);
                // backdrop-filter: blur(0.4rem);
                > ul {
                    list-style: none;
                }
            }

            &:hover {
                position: relative;

                > .OurServiceSubmenu {
                    display: block;
                    position: absolute;
                    width: 100%;
                }
            }
        }
    }
}

.ToggleBtn {
    width: 60px;
    height: 45px;
    z-index: 6;
    position: absolute;
    top: 10px;
    right: 10px;
    // margin: 50px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;

    span {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: rgba(0, 150, 0, 1);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
            transform-origin: left center;
        }

        &:nth-child(2) {
            top: 18px;
            transform-origin: left center;
        }
        &:nth-child(3) {
            top: 36px;
            transform-origin: left center;
        }
    }

    &.open {
        span {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: -3px;
                left: 8px;
            }

            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 39px;
                left: 8px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .Nav {
        width: auto;
        right: 0;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        opacity: 0;
        backdrop-filter: blur(0.8rem);
        > ul {
            flex-direction: column;

            > li {
                a {
                    padding: 20px 25px;
                } 
                &:hover {
                    > .OurServiceSubmenu {
                        transform: translateX(-100%) translateY(-25%);
                    }
                }
            }
        }

        &.open {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .ToggleBtn {
        display: block;
    }
}

@media (max-width: 400px) {
    .Nav {
        font-size: 0.9rem;
    }
}
