.Contact {
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.9)), url("../../../Assets/img/greencar.jpg") no-repeat center;
    background-size: cover;
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 100px;

    h2 {
        font-size: 2rem;
    }

    h2, h3 {
        text-align: center;
    }

    .main {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(0.1rem);
        border-radius: 20px;
        margin: 50px 0 50px 0;
        // border: 3px solid rgba(0, 150, 0, 0.5);
        padding: 80px 0;
    }

    .contactImg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        img {
            width: 60%;
        }
    }

    .contactLinks {
        width: 50%;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1.2rem;
        padding-left: 40px;

        i {
            font-size: 2rem;
            color: rgb(0, 180, 0);
            margin-right: 15px;
        };
    }

    iframe {
        width: 60vw;
        height: 30vw;
        opacity: 0.9;
        border: 20px solid rgba(255, 255, 255, 0.3);
        border-radius: 20px;
    }


}
